<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <span class="navbar-text">
      <h2>JiujitsuTutorialReview.com</h2>
    </span>
  </div>
</nav>

<h1><center>Editing Project</center></h1>

<%= render 'form', project: @project %>

 
<div class="btn-group">
  <p>
  <%= button_to 'Show', @project, method: :get, class: "btn btn-outline-primary" %>
  <%= button_to 'Back', projects_path, method: :get, class: "btn btn-outline-primary" %>
  </p>
</div>



