<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <span class="navbar-text">
      <h2>JiujitsuTutorialReview.com</h2>
    </span>
  </div>
</nav>


<h1><center>New Review<center></h1>

<%= render 'form', project: @project %>

<%= link_to 'Back', projects_path %>

